// --------------- VARIABLE ---------------- //
$color-primary: #95e1d3;
$color-secondary: #f38181;

$color-gradient-yellow: #fce38a;
$color-gradient-pink: #e68082;

$color-dark: #333;
$color-light-dark: #999;
$color-border: #e5e5e5;

$gradient-primary: #000;
$gradient-secondary: #fff;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-thrid: "Kaushan Script", cursive;
